Dataset/
Features.csv
Features/
labels.npy
Sample/
Labels_withGamma.npy
Labels_cleaned.npy
Features_cleaned.npy
Features_withGamma.npy
shit_1.jpg
shit_2.jpg
kamal_results.txt
results_set_2.txt
test.txt
/testData
/test data